#w {
    margin: 0;
    padding: 7px 0 7px 7px;
    }

    #w li {
        list-style: none;
        margin: 0;        
        }
        
        #w li.progress {
            background: url('img/widget_bg_b.png') no-repeat;
            }
        

        #w li ul {
            margin: 0;
            padding: 0;
            }

            #w li li  {
                margin: 0;
                padding: 0;
                }
        
    .info .contents,
    .msg {
        padding: 5px;
    }

/*


*/    

    .normalGraph {
        height: 100px;
        width: 100%;
        }

/*


*/    
    #w .progress {
        height: 128px;
    }
    #w .progress .contents{
        position: relative;
        padding: 0 15px 0 26px;
        }

    .progress h4 {
        margin: 0;
        padding: 0;
        }
    .progress h4 .breaker {
        display: block;
        width: 280px;
        padding-top: 10px;
        }
        
    .progressBar {
        padding: 0;
        background: url('img/progress_bg.png');
        }
        
        .progressBar .progressFill {
            
            background: url('img/progress_fill.png');
            }
        
        .progressBar .progressFill div {
            height: 30px;
            }
            
            
/*


*/

    .headline .contents {
        padding: 3px 0;
        }
        
    .headline .quote {
        margin: 0 8px;
        padding: 2px 0 0 6px;
        background: url('img/quote_open.png') top left no-repeat;
        }
        
    .headline blockquote {
        margin: 0px;
        padding: 3px 6px 5px 6px;
        background: url('img/quote_close.png') bottom right no-repeat;
        }
            

/*


*/    
    .calendar table {
        width: 100%;
        }

    .calendar dl {
        padding: 7px;
        }
        
        .calendar dt {
            padding: 0;
            margin: 0;
            width: 55px;
            clear: left;
            float: left;
            }
            
        .calendar dd {
            padding: 0;
            margin: 0;

            float: left;
            }
/*


*/            
    .rss ul {
        margin: 5px 0 0;
        padding: 0;
        }
        
        #w .rss li {
            padding: 5px;
            border-bottom: 1px solid #ffffff;
            }
            
            
/*


*/
    #w .photos {
        padding: 7px 13px;
        }
        
        #w .photos li {
            float: left;
            margin: 7px;
            background: #ffffff;
            border: 2px solid #ffffff;
            }

        
        