#header {
    position: relative;
    height: 80px;
    }

    #header #logo {
        background: url('img/logo.png') no-repeat;
        height: 30px;
        width: 143px;
        position: absolute;
        top: 45px;
        left: 9px;
        }
        
    #header h2 {
        position: absolute;
        width: 200px;
        left: 160px;
        top: 54px;
        }
    
    #header ul {
        position: absolute;
        top: 0px;
        right: -3px;    
        margin: 0;
        padding: 0;
        }
        
        #header li {
            float: left;
            list-style: none;
            padding: 0px;
            margin: 0 3px 0 0;
            }
            
            #header li a {
                display: block;
                padding: 8px 14px;
                border-radius: 0 0 4px 4px;
                -moz-border-radius: 0 0 4px 4px;
                -webkit-border-bottom-right-radius:4px;
                -webkit-border-bottom-left-radius:4px;
                
                }