#w {
    margin: 0;
    padding: 7px;
    }

    #w li {
        list-style: none;
        margin: 0 0 12px 0;
        
        }

        #w li ul {
            margin: 0;
            padding: 0;
            }

            #w li li  {
                margin: 0;
                padding: 0;
                }
        
    .info .contents {
        padding: 5px;
    }

/*


*/    

    .normalGraph {
        height: 100px;
        width: 100%;
        }

/*


*/    
    .progress .contents{
        position: relative;
        padding: 7px;
    }
    .progress h4 {
        position: absolute;
        margin: 0;
        padding: 0;
        text-align: right;
        top: 8px;
        }
    
    .progress .current {
        padding: 0 15px 0 0;
        }
        
    .progress .goal {
        display: none;
        }
        
    .progressBar {
        padding: 0 10px 4px;
        background: url('img/progress_bg.png') bottom center no-repeat;
        }
        
        .progressBar .progressFill {
            
            background: url('img/progress_fill.png') bottom left repeat-x;
            border-right: 3px solid #5f95b0;
            }
        
        .progressBar .progressFill div {
            height: 55px;
            border-right: 1px solid rgba(224, 240, 204, 0.5);
            }
            
            
/*


*/

    .headline .contents {
        padding: 3px 0;
        }
        
    .headline .quote {
        margin: 0 8px;
        padding: 2px 0 0 6px;
        background: url('img/quote_open.png') top left no-repeat;
        }
        
    .headline blockquote {
        margin: 0px;
        padding: 3px 6px 5px 6px;
        background: url('img/quote_close.png') bottom right no-repeat;
        }
            

/*


*/    
    .calendar table {
        width: 100%;
        }

    .calendar dl {
        padding: 7px;
        }
        
        .calendar dt {
            padding: 0;
            margin: 0;
            width: 55px;
            clear: left;
            float: left;
            }
            
        .calendar dd {
            padding: 0;
            margin: 0;

            float: left;
            }
/*


*/            
    .rss ul {
        margin: 5px 0 0;
        padding: 0;
        }
        
        #w .rss li {
            padding: 5px;
            border-bottom: 1px solid #ffffff;
            }