{% load ui %}
<html>
<head>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0" />

	<link rel="shortcut icon" type="image/x-icon" href="{{media_url}}/img/favicon.ico">
	
	<link rel="stylesheet" href="{{media_url}}/css/vendor/jamesv/utils.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="{{media_url}}/css/insights/layout.css" type="text/css" media="screen" charset="utf-8"/>

	<link rel="stylesheet" href="{{media_url}}/themes/{{theme|default:"organic"}}/layout.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="{{media_url}}/themes/{{theme|default:"organic"}}/widgets.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="{{media_url}}/themes/{{theme|default:"organic"}}/fonts_colors.css" type="text/css" media="screen" charset="utf-8"/>

	<script src="{{media_url}}/js/vendor/jquery/jquery-1.3.2.min.js"></script>
	<script src="{{media_url}}/js/vendor/jquery/jquery.query-2.1.7.js"></script>
	<script src="{{media_url}}/js/vendor/flot/jquery.flot.js"></script>
	
	<script src="{{media_url}}/js/vendor/organic/jquery.helpers.js"></script>
	<script src="{{media_url}}/js/vendor/organic/core.js"></script>
	<script src="{{media_url}}/js/vendor/organic/utils.js"></script>
	<script src="{{media_url}}/js/vendor/organic/tracking.js"></script>
	
	<script src="{{media_url}}/js/insights/core.js"></script>
	<script src="{{media_url}}/js/insights/utils.js"></script>
	<script src="{{media_url}}/js/insights/graphing.js"></script>
	<script src="{{media_url}}/js/insights/google_analytics.js"></script>
	<script src="{{media_url}}/js/insights/widgets/flickr.js"></script>
	<script src="{{media_url}}/js/insights/widgets/rss.js"></script>


	<!--
	<link rel="stylesheet" href="{{media_url}}/css/insights.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="{{media_url}}/themes/{{theme|default:"organic"}}/theme.min.css" type="text/css" media="screen" charset="utf-8"/>
	<script src="{{media_url}}/js/insights.min.js"></script>
	-->
	
	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAz8U4bwxy-8udwdlG3xXH6BS9RAyx1yFOrrspTuwRkxvkwmStKBRKWM6WtOriIBlGDZ10O2TZpOYeHw"></script>
	<script>
		google.load("feeds", "1");
		google.load('gdata', '2.x', {packages: ['analytics']});
	</script>
	
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div id='wrapper'>
		<div id='header'>
			<div id='logo'>&nbsp;</div>
			<h2 id='dashboard_name'>{{dashboard.title|safe|default:"Welcome"}}</h2>

			<ul>
				{{nav|drawNav}}
			</ul>
		</div>

		<ul id='w'>
			{% block content %}{% endblock %}			
		</ul>
	</div>
	<img style="visibility:hidden" src="__utm.gif" alt="required for GData"/>
</body>
</html>